<div class="p-4">
Settings 

    <!-- <mat-card>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Send Event</mat-card-title>
                <mat-card-subtitle>Send Event subtitle</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Number</mat-label>
                    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
                        [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        @for (option of filteredOptions | async; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field>
            </form>
        </mat-card-content>
    </mat-card> -->


</div>